# Base de données des bandes dessinées

## Contexte historique
<div align="middle">
<a href="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1JeinB6XHpOQkQH7Zaaku3slAZJDl0CTpWBreSzzO808&font=Default&lang=fr&initial_zoom=2&height=650" target=_blank><img src="../../../retour.png"></a>
</div>

In [16]:
import sqlite3

conn = sqlite3.connect("scripts/bd-init.sql")
cur = conn.cursor()
cur.execute("select * from Auteurs limit 5;")
results = cur.fetchall()
print(results)
cur.close()

[(1, 'Abouet', 'Marguerite'), (2, 'Spiegelman', 'Art'), (3, 'Hergé', None), (4, 'Job', None), (5, 'Angeli', 'Eliane')]

In [17]:
import pandas as p

df = p.read_sql_query("select * from Auteurs limit 5", conn)
df

   id         nom      prenom
0   1      Abouet  Marguerite
1   2  Spiegelman         Art
2   3       Hergé        None
3   4         Job        None
4   5      Angeli      Eliane

In [ ]:
conn.close()