# Requêtes avancées

## 1. Problématique

<div align="middle"><h3>Comment mettre en relation plusieurs tables?</h3></div>

et faire des calculs sur les données?

## 2. Fonctions d'agrégation
La plupart des fonctions d'agrégation vont permettre de faire des statistiques sur les données.

In [ ]:
SELECT COUNT(*) FROM Bandes_dessinees WHERE serie = "Aya de Yopougon";

Il y a 5 livres dans la série Aya de Yopougon. On compte ici toutes les lignes.

In [ ]:
SELECT COUNT(titre) FROM Bandes_dessinees WHERE serie = "Aya de Yopougon";

On compte ici les lignes qui n'ont pas *NULL* pour l'attribut *titre*.

- SUM()
- AVG()
- MAX()
- MIN()

#### Activité 1
- Tester la requête précédente.
- Compter le nombre total de bandes dessinées.
- Tester la requête suivante. Que renvoie-t-elle?

In [ ]:
SELECT COUNT(DISTINCT id_dessinateur) FROM Bandes_dessinees;

In [ ]:
SELECT COUNT(*) FROM Bandes_dessinees;

Il y a 422 bandes dessinées.

In [ ]:
SELECT COUNT(DISTINCT id_dessinateur) FROM Bandes_dessinees;

Le mot clé **DISTINCT** permet de ne pas prendre en compte les doublons. Il y a donc 155 dessinateurs différents.

## 3. Mettre des tables en relation
### 3.1 Sous-requêtes

In [ ]:
SELECT titre FROM Bandes_dessinees WHERE id_genre = 13;

In [ ]:
SELECT id FROM Genres WHERE genre = "Jeunesse";

In [ ]:
SELECT titre FROM Bandes_dessinees 
       WHERE id_genre = (SELECT id FROM Genres WHERE genre = "Jeunesse");

#### Activité 2
- Tester la requête précédente.
- Sélectionner les titres de livres dessinés par Joann Sfar.
- Compter les titres publiés par l'éditeur Delcourt.
- Que renvoie la requête suivante?

In [ ]:
SELECT titre FROM Bandes_dessinees 
        WHERE isbn IN (SELECT isbn FROM Emprunts WHERE id_emprunteurs = 1);

In [ ]:
SELECT titre FROM Bandes_dessinees 
        WHERE id_dessinateur = (SELECT id FROM Auteurs WHERE nom = "Sfar" AND prenom = "Joann");

<div align="middle"><img src="ressources/sousrequete.png" witdh="200px"></div>

In [ ]:
SELECT COUNT(titre) FROM Bandes_dessinees 
    WHERE id_editeur = (SELECT id FROM Editeurs WHERE editeur = "Delcourt");

Delcourt a édité 99 bandes dessinées.

In [ ]:
SELECT titre FROM Bandes_dessinees 
        WHERE isbn IN (SELECT isbn FROM Emprunts WHERE id_emprunteurs = 1);

Il faut noter l'utilisation du mot clé **IN**.
<div align="middle"><img src="ressources/isbn.png" witdh="200px"></div>

La liste des livres empruntés par l'utilisateur d'id 1.

On peut enchaîner les sous-requêtes.

In [ ]:
SELECT titre FROM Bandes_dessinees 
WHERE isbn IN (SELECT isbn FROM Emprunts 
WHERE id_emprunteurs = (SELECT id FROM Emprunteurs WHERE nom = "Dupont")
);

même requête qu'avant mais on va chercher l'id de Dupont

### 3.2 Jointures
Une jointure permet de mettre en relation des données de plusieurs tables.

<div align="middle"><img src="ressources/jointure1.png" witdh="800px"></div>

Création d'une table virtuelle où on peut récupérer des données.
<div align="middle"><img src="ressources/jointure2.png" witdh="800px"></div>

In [ ]:
SELECT Emprunteurs.nom, Emprunts.isbn FROM Emprunts 
JOIN Emprunteurs ON Emprunts.id_emprunteurs = Emprunteurs.id;

In [ ]:
SELECT Emprunteurs.nom, Emprunts.isbn FROM Emprunts 
JOIN Emprunteurs ON Emprunts.id_emprunteurs = Emprunteurs.id;

In [ ]:
SELECT nom, isbn FROM Emprunts 
JOIN Emprunteurs ON Emprunts.id_emprunteurs = Emprunteurs.id;

Précision dans le nommage des attributs

#### Activité 3
- Tester la requête précédente.
- Modifier la requête pour ne renvoyer que les ISBN empruntés par Dupont.
- Il est possible d'effectuer une jointure avec plus de deux tables. Modifier la requête précédente pour renvoyer le *titre* des bandes dessinées empruntées par Dupont.
- Le mot clé *ORDER BY* permet de classer les résultats selon le critère donné. Classer les résultats de la requête précédente par ordre de titre.

In [ ]:
SELECT editeur FROM Editeurs 
WHERE editeur LIKE "G%"
ORDER BY editeur;

In [ ]:
SELECT Emprunteurs.nom, Emprunts.isbn FROM Emprunts 
JOIN Emprunteurs ON Emprunts.id_emprunteurs = Emprunteurs.id
WHERE Emprunteurs.nom = "Dupont";

<div align="middle"><img src="ressources/activite3-1.png" witdh="150px"></div>

In [ ]:
SELECT Emprunteurs.nom, Bandes_dessinees.titre FROM Emprunts 
JOIN Emprunteurs ON Emprunts.id_emprunteurs = Emprunteurs.id
JOIN Bandes_dessinees ON Emprunts.isbn = Bandes_dessinees.isbn
WHERE id = 1;

<div align="middle"><img src="ressources/activite3-2.png" witdh="200px"></div>

In [ ]:
SELECT Emprunteurs.nom, Bandes_dessinees.titre FROM Emprunts 
JOIN Emprunteurs ON Emprunts.id_emprunteurs = Emprunteurs.id
JOIN Bandes_dessinees ON Emprunts.isbn = Bandes_dessinees.isbn
WHERE id = 1
ORDER BY titre;

<div align="middle"><img src="ressources/activite3-3.png" witdh="200px"></div>